.headerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;

  li {
    padding: 0 10px;
    a {
      display: inline-block;
      padding: 1px 0;

      &:hover {
        border-bottom: 3px solid #ffe56a;
      }
    }

  }
}

